*{
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #777777;
}

#bigHeader{
  position: fixed;
  color:blue;
  background-color: #4aaaa5;
  float: left;
  border-color: #777777;
  border-style: hidden hidden solid hidden;
}

#logo{
  color: white;
  font-size: 24px;
  font-family: georgia;
  vertical-align: middle;
  float: left;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

#mainContent{
}
.container a{
    color: #777777;
}

.options :hover{
  opacity: .5;

}

nav{
  float: right;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: white;
  text-align: right;
}

body{
  margin: 0;
}

.separator{
  border-right: solid 1px #777777;

}
.wrapper {
  padding: 200px;
  width: 650px;
  text-align: justify;

}
