*{
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #777777;
}

#bigHeader{
  width: 100%;
  color:blue;
  background-color: #4aaaa5;
  position: fixed;
  float: left;
  border-color: grey;
  border-style: hidden hidden solid hidden;
}

#logo{
  color: white;
  font-size: 24px;
  font-family: georgia;
  vertical-align: middle;
  float: left;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.container a{
    color: #777777;
}

.container a:hover{
  opacity: .5;
}

nav{
  float: right;
  width: 80%;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: white;
  text-align: right;
}

body{
  margin: 0;
}
